In [13]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

#Functions
from src.funk import Funk

In [14]:
pib_15_19 = pd.read_excel('raw_data/pib_muni_2019-2015.xls')

#Cleaning excel table into dataframe

pib_15_19.drop([0,1,2,3,4,5,6], axis=0, inplace=True) #Excel headers out
pib_1519 = pib_15_19.rename(columns=pib_15_19.iloc[0]) #Assign column headers
pib_1519.columns.values[0] = 'Municipio' #Column names
pib_1519.columns.values[1] = '2015'
pib_1519.columns.values[2] = '2016'
pib_1519.columns.values[3] = '2017p' #p stand for 'preliminar'
pib_1519.columns.values[4] = '2018a'
pib_1519.columns.values[5] = '2019a'
pib_1519.drop([7,8,10,22,202,203,204,205,206], axis=0, inplace=True) #More excel format out
pib_1519.reset_index(drop=True, inplace=True) #Reset index
pib_1519['2015'] = pd.to_numeric(pib_1519['2015'], downcast="integer") #small nums make lazy machines happy
pib_1519['2016'] = pd.to_numeric(pib_1519['2016'], downcast="integer")
pib_1519['2017p'] = pd.to_numeric(pib_1519['2017p'], downcast="integer")
pib_1519['2018a'] = pd.to_numeric(pib_1519['2018a'], downcast="integer")
pib_1519['2019a'] = pd.to_numeric(pib_1519['2018a'], downcast="integer")

pib_1519.head(15)

              Municipio       2015       2016      2017p      2018a      2019a
0   Comunidad de Madrid  201770928  210128969  219140733  229684955  229684955
1   Municipio de Madrid  124363459  128980357  133661742  140704878  140704878
2   Norte Metropolitano   14499271   15024378   15836068   16565485   16565485
3    Este Metropolitano   14931593   15713810   16802662   17425482   17425482
4     Sur Metropolitano   24612332   25956288   27356056   28596949   28596949
5   Oeste Metropolitano   14278197   14940238   15554696   16103483   16103483
6          Sierra Norte     697675     706511     743437     762293     762293
7    Nordeste Comunidad    1298772    1341562    1403090    1468296    1468296
8     Sudeste Comunidad    1807084    1884324    1963233    2013903    2013903
9    Sudoeste Comunidad    2268280    2441664    2572495    2693461    2693461
10           Sierra Sur     556296     560477     571819     595176     595176
11       Sierra Central    2457966    2579362    2675441    2755545    2755545
12         Acebeda (La)       3340       3776       3825       3518       3518
13              Ajalvir     272693     282569     291366     280924     280924
14    Alameda del Valle       4361       4325       4083       4456       4456

In [20]:
pib_1519.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Municipio  191 non-null    object
 1   2015       191 non-null    int32
 2   2016       191 non-null    int32
 3   2017p      191 non-null    int32
 4   2018a      191 non-null    int32
 5   2019a      191 non-null    int32
dtypes: int32(5), object(1)
memory usage: 18.0 KB

In [22]:
pib_11_09 = pd.read_excel('raw_data/pib_muni_2011-2009.ods', engine="odf")

#Cleaning excel table into dataframe

pib_11_09.drop([0,1,2,3,4], axis=0, inplace=True) #Excel headers out
pib_1109 = pib_11_09.rename(columns=pib_11_09.iloc[0]) #Assign column headers
pib_1109.columns.values[0] = 'Municipio' #Column names
pib_1109.columns.values[1] = '2009p'
pib_1109.columns.values[2] = '2010a'
pib_1109.columns.values[3] = '2011a'
pib_1109.drop([5,6,8,20,200,201,202,203], axis=0, inplace=True) #More excel format out
pib_1109.reset_index(drop=True, inplace=True) #Reset index
pib_1109['2009p'] = pd.to_numeric(pib_1109['2009p'], downcast="integer") #small nums make lazy machines happy
pib_1109['2010a'] = pd.to_numeric(pib_1109['2010a'], downcast="integer")
pib_1109['2011a'] = pd.to_numeric(pib_1109['2011a'], downcast="integer")

pib_1109.head(15)

              Municipio      2009p      2010a      2011a
0   Comunidad de Madrid  194485387  194720981  200100238
1   Municipio de Madrid  119899983  119460025  122587281
2   Norte Metropolitano   13432990   13744645   14451198
3    Este Metropolitano   14389005   14450031   14691897
4     Sur Metropolitano   24349174   24569530   25189835
5   Oeste Metropolitano   13380084   13449806   13848113
6          Sierra Norte     744457     724943     726664
7    Nordeste Comunidad    1184452    1194999    1249091
8     Sudeste Comunidad    1825499    1818904    1889757
9    Sudoeste Comunidad    2227977    2275188    2353195
10           Sierra Sur     576402     552749     563071
11       Sierra Central    2475364    2480163    2550137
12         Acebeda (La)       1614       1596       1675
13              Ajalvir     312575     308108     324167
14    Alameda del Valle       4614       4588       4115

In [23]:
pib_1109.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Municipio  191 non-null    object
 1   2009p      191 non-null    int32
 2   2010a      191 non-null    int32
 3   2011a      191 non-null    int32
dtypes: int32(3), object(1)
memory usage: 16.5 KB

In [48]:
pib_09_02 = pd.read_excel('raw_data/pib_muni_2009-2002.ods', engine="odf")

#Cleaning excel table into dataframe

pib_09_02.drop([0,1,2,3,4], axis=0, inplace=True) #Excel headers out
pib_0902 = pib_09_02.rename(columns=pib_09_02.iloc[0]) #Assign column headers
pib_0902.columns.values[0] = 'Codigo'
pib_0902.columns.values[2] = 'Municipio'
pib_0902.drop(['Ámbitos geográficos'], axis=1, inplace=True)
pib_0902.drop([5,6,7,9,10,22,23,203,204,205,206], axis=0, inplace=True) #More excel format out
pib_0902.reset_index(drop=True, inplace=True) #Reset index
pib_0902.columns.values[2] = '2002'
pib_0902.columns.values[3] = '2003'
pib_0902.columns.values[4] = '2004'
pib_0902.columns.values[5] = '2005'
pib_0902.columns.values[6] = '2006'
pib_0902.columns.values[7] = '2007'
pib_0902.columns.values[8] = '2008p'
pib_0902.columns.values[9] = '2009a'
pib_0902['2002'] = pd.to_numeric(pib_0902['2002'], downcast="integer") #small nums make lazy machines happy
pib_0902['2003'] = pd.to_numeric(pib_0902['2003'], downcast="integer")
pib_0902['2004'] = pd.to_numeric(pib_0902['2004'], downcast="integer")
pib_0902['2005'] = pd.to_numeric(pib_0902['2005'], downcast="integer")
pib_0902['2006'] = pd.to_numeric(pib_0902['2006'], downcast="integer")
pib_0902['2007'] = pd.to_numeric(pib_0902['2007'], downcast="integer")
pib_0902['2008p'] = pd.to_numeric(pib_0902['2008p'], downcast="integer")
pib_0902['2009a'] = pd.to_numeric(pib_0902['2009a'], downcast="integer")


pib_0902.head(15)

,Codigo,Municipio,2002,2003,2004,2005,2006,2007,2008p,2009a
0,NaN,NaN,130875002,140910366,153065459,167112001,182010638,195945446,200119604,194897601
1,01,Madrid,85314381,91119043,97541462,106032412,114823383,123141053,126747131,124649727
2,02,Norte Metropolitano,9820469,10630373,11729576,13045517,13865506,14421868,14597388,13789907
3,03,Este Metropolitano,9076993,9839103,10881566,11772590,13059680,13862633,13850829,12941399
4,04,Sur Metropolitano,14316340,15621526,17379498,18990045,20860859,22584860,22607641,21564970
5,05,Oeste Metropolitano,7353907,8140995,9140739,10136670,11481130,13164139,13399381,13418884
6,06,Sierra Norte,402632,456378,544281,593883,706610,784380,837200,810446
7,07,Nordeste Comunidad,690943,749213,834079,945573,1063746,1189736,1200212,1099803
8,08,Sudeste Comunidad,1099648,1223718,1397194,1547989,1662111,1864582,1848093,1748669
9,09,Sudoeste Comunidad,1135050,1257197,1429992,1615383,1812132,1976041,2003850,1918710
10,10,Sierra Sur,318099,357443,418249,461017,500811,555135,581517,561553
11,11,Sierra Central,1346544,1515383,1768827,1970927,2174675,2401024,2446368,2393537
12,0014,Acebeda (La),760,804,931,1045,1234,1497,1410,1291
13,0029,Ajalvir,218081,236565,259101,279023,276636,282950,273667,271353
14,0035,Alameda del Valle,2105,2306,2647,3055,3464,3468,3506,3577

In [49]:
pib_0902.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Codigo     190 non-null    object
 1   Municipio  190 non-null    object
 2   2002       191 non-null    int32
 3   2003       191 non-null    int32
 4   2004       191 non-null    int32
 5   2005       191 non-null    int32
 6   2006       191 non-null    int32
 7   2007       191 non-null    int32
 8   2008p      191 non-null    int32
 9   2009a      191 non-null    int32
dtypes: int32(8), object(2)
memory usage: 31.5 KB